.about{
    &__container{
        margin-top: 5%;  
        margin-bottom: 20%; 

    }
    &__heading{
        text-align: center;
        margin-top: 15%; 
    }
    &__paragraph-one{
        margin-left: 20%; 
        width: 60%;
        font-size: 1.3em;
        letter-spacing: 1px;
    }

    &__paragraph-two{
        margin-left: 20%; 
        width: 60%;
        font-size: 1.3em;
        letter-spacing: 1px;
    }

    &__paragraph-three{
        margin-left: 20%; 
        width: 60%;
        font-size: 1.3em;
        letter-spacing: 1px;
    }

    &__image{
        width: 60%; 
        margin-left: 20%; 
    }
}