.about{
    &__container{
        display: grid; 
        grid-template-columns: repeat(2, 50%);  
        margin-bottom: 20%; 
    }

    &__heading{
        margin-top: 15%; 
        margin-bottom: 5%; 
    }

    &__box{
        grid-column: 2/2; 
        grid-row: 1; 
        margin-top: 15%; 
    }
    &__paragraph{
        width: 90%;
        font-size: 1.3em;
        letter-spacing: 1px;
    }


    &__image{
        width: 65%; 
        margin-left: 20%; 
        grid-column: 1/1; 
        grid-row: 1; 
        margin-top: 20%; 
    }
}