
.contact{
    &__container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        grid-gap: 4rem;
    }
  
    &__information{
        padding: 10rem;
        border-radius: 1rem;
    }
    &__messagebox{ 
        padding: 10rem;
        border-radius: 1rem;

        textarea{
            height: 300px;
            border: 1px solid grey; 
            background-color: white; 
        }
    }
    &__header{
        text-align: center;
        margin-top: 7%;
        margin-bottom: 2%; 
    }

    &__button{
        width: 180px;
        margin-left: 70%; 
        border-radius: 10px; 
        border: none; 
        color: white; 
        background-color: #3B3B3B; 
        font-size: 1.3em; 
    }
}

.form-control{
    width: 100%;  
    border: none; 
    outline: none; 
    background-color: #FCFCFC; 
    border-bottom: 1px solid rgb(85, 85, 85); 
    color: black; 
    font-size: 1em; 
    margin-bottom: 16px; 
}

form{
    border-color: transparent; 
    font-size: 1em; 
    height: 1000px; 
}

input{
    height: 40px;
}

textarea{
    height: 100px; 
}

