.cv{
    &__header{
        text-align: center;
        margin-top: 10%; 
        margin-bottom: 3%; 
    }
    &__container{
        width: 100%; 
    }
    &__sub{
        font-size: 2em;
        color:rgb(240, 99, 123); 
        padding: 2%; 
        margin-left: 10%; 
    }

    &__list-container{
        display: grid; 
        column-gap: 5vw;
        grid-template-columns: repeat(6, 16.6%);  

        
    }
    &__list-1{
        list-style-type: none;
        font-size: 1.3em;
        grid-column: 2/2;
    }

    &__list-2{
        list-style-type: none;
        font-size: 1.3em;
        grid-column: 3/3;
    }

    &__list-3{
        list-style-type: none;
        font-size: 1.3em;
        grid-column: 4/4; 
    }

    &__list-extra{
        list-style-type: none;
        font-size: 1.3em;
        grid-column: 2/5; 
    }
}

hr{
    border-color: rgb(187, 187, 187);
    width: 80%; 
}