
.home{
    &__container{
        display: flex;
        justify-content: center;
    }
    &__wrapper{ 
        margin-top: 20%;
        margin-bottom: 30%; 
    }

}

.project-container{

    &__head{
        margin-left: 5%; 
    }

    &__sub{
        margin-left: 25%; 
        margin-bottom: 10%; 
        margin-top: 10%; 
    }

    a{
        margin-left: 50%; 

    }
}

.project-image{
    &__img1{
        width: 20%; 
    }

    &__img2{
        width: 20%; 
    }

    &__img3{
        width: 20%;
    }
}



